:root {
  --hero-title-color: #ffffff;
  --main-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --second-text-color: #ffffff;
  --logo-color: #000000;
  --invert-logo-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --adress-color: #ffffff;
  --background-color-btn: #f5f4fa;
  --background-color-hero: #2f303a;
  --background-color-footer: #2f303a;
  --background-color-main: #ffffff;
  --background-color-section: #f5f4fa;
  --icon-main-color: #afb1b8;
  --transition-duration-link: 250ms;
  --timing-function-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
